body{
	font-family: 'Quicksand', sans-serif;
}

#welcomeScreen{
	background-image: url('../images/welcomeBackground.jpg');
	background-repeat: no-repeat;
	width: 750px;
	height: 1183px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.quieroJugar{
	color: white;
	font-size: 69pt;
	font-weight: 700;
	position: absolute;
	top: 856px;
	LEFT: 20px;
}

.soyElTablero{
	color: white;
	position: absolute;
	top: 1087px;
	font-size: 25pt;
	left: 28px;
}

.retomarPartida{
	color: white;
	font-size: 25pt;
	position: absolute;
	top: 1087px;
	right: 28px;
}

.colorsToPick{
	position: relative;
	top: 590px;
}

.colorSelector{
	width: 240px;
	height: 118px;
	float: left;
	margin: 31px 60px 0 50px;
}




#playerPlaying{
	background-image: url('../images/backgroundPlayer.jpg');
	background-repeat: no-repeat;
	width: 750px;
	height: 1183px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#boardConfigScreen{
	background-image: url('../images/backgroundBoardConfig.jpg');
	background-repeat: no-repeat;
	width: 768px;
	height: 959px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.boardConfigDynamic{
	transform: rotate(90deg);
	position: relative;
	font-size: 23pt;
	color: #978F88;
}

.game-name{
	color:black;
	padding: 10px;
	bottom: -411px;
	left: 397px;
}

#game_suffix{
	top: 581px;
	left: 498px;
	width: 110px
}

#game_name{
	top: 361px;
	left: 498px;
	width: 110px
}

#createGameButton{
	top: 747px;
	width: 182px;
	left: 462px;
	color: red;
}

#playerList{
	top: 229px;
	height: 316px;
	left: -103px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}


#startPlayingButton{
	top: 449px;
	width: 250px;
	left: -80px;
}

#playerConfig{
	background-image: url('../images/backgroundPlayerConfig.jpg');
	background-repeat: no-repeat;
	width: 750px;
	height: 1183px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.availableGames{
	position: relative;
	top: 220px;
	font-size: 30pt;
	overflow: scroll;
	white-space: nowrap;
}

.singleGameName{
	padding-left:50px;
}

.playerInput{
	top: 473px;
	left: 19px;
	position: absolute;
}

.playerTextInput{
	font-size: 23pt;
	width: 510px;
}


.error{
	font-size: 18pt;
	margin-top: 6px;
	color: red;
}

#boardPlaying{
	background-image: url('../images/backgroundBoard.jpg');
	background-repeat: no-repeat;
	width: 768px;
	height: 959px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#playerPlayingHeader{
}

#playerPlayingLogo{
	width: 40%;
}

#votes{
	position: absolute;
	top: 867px;
	left: 139px;
	width: 424px;
}

#votesTitle{
	transform: rotate(90deg);
	font-size: 20pt;
}

.circle{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	margin-left: 18px;
	float: right;
}

.rabbit{
	position: absolute;
}

#myTurnButton{

}


.turnButtons{
	color: white;
	font-weight: 600;
	font-size: 60pt;
	position: relative;
	top: 83px;
	left: 105px;
}

.yaVote{
	color: white;
	font-weight: 600;
	font-size: 148pt;
	position: relative;
	top: 0px;
	transform:rotate(180deg);
}

.playerMessage{
	margin-left: auto;
	font-size: 50pt;
	color: white;
	margin: 20px;
}

.messageWrapper{

}

.playerMessageWrapper{
	position: absolute;
	width: 100%;
	bottom: 0px;
}

.notNumber{
	text-align: left;
	padding-left: 28px;
}


.showVote{
	font-size: 70pt;
	top: 234px;
}

.upsButton{
	top: 850px;
	left: 100px;
}



#processPointsButton{
	position: absolute;
	transform: rotate(90deg);
	color: white;
	font-weight: 400;
	font-size: 30pt;
	top: 859px;
	left: 99px;
}

#nextRoundButton{
	position: absolute;
	transform: rotate(90deg);
	color: white;
	font-weight: 400;
	font-size: 30pt;
	top: 859px;
	left: 99px;
}

.voteNumber{
	font-size: 60pt;
	position: absolute;
}

.bigNumber{
	font-weight: 400;
	position: relative;
	text-align: center;
	width: 200px;
}

#itsMyVote{
	top: 44px;
	left: 270px;
	font-size: 266pt;
}

#itsMyCard{
	left: 505px;
	top: 119px;
	font-size: 143pt;
}

#voteButton{
	color: white;
	font-size: 90pt;
	font-weight: 600;
	position: absolute;
	top: 1029px;
	left: 208px;
}

.fillScreen{
	height: 1335px;
}

.normalHeight{
	height:214px;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.vote0{
	top: 238px;
	left: 60px;
}

.vote1{
	top: 352px;
	left: 52px;
}

.vote2{
	top: 469px;
	left: 55px;
}

.vote3{
	top: 581px;
	left: 50px;
}

.vote4{
	top: 238px;
	left: 643px;
}

.vote5{
	top: 353px;
	left: 640px;
}

.vote6{
	top: 470px;
	left: 642px;
}

.vote7{
	top: 582px;
	left: 640px;
}

.card0{
	top: 796px;
	left: 57px;
}

.card1{
	top: 796px;
	left: 162px;
}

.card2{
	top: 796px;
	left: 279px;
}

.card3{
	top: 796px;
	left: 385px;
}

.card4{
	top: 909px;
	left: 56px;
}

.card5{
	top: 909px;
	left: 162px;
}

.card6{
	top: 909px;
	left: 279px;
}

.card7{
	top: 909px;
	left: 389px;
}

.hideCardVote{
	opacity: 0;
}

.cardVote1{
	font-size: 24pt;
	position: absolute;
	right: 61px;
	top: 779px;
	transform: rotate(270deg);
	color: #aaaaaa;
}

.cardVote2{
	font-size: 24pt;
	position: absolute;
	right: 61px;
	top: 478px;
	transform: rotate(270deg);
	color: #aaaaaa;

}

.cardVote3{
	font-size: 24pt;
	position: absolute;
	right: 61px;
	top: 175px;
	transform: rotate(270deg);
	color: #aaaaaa;
}

.cardVote4{
	font-size: 24pt;
	position: absolute;
	right: 219px;
	top: 57px;
	color: #aaaaaa;
	transform: rotate(180deg);
}

.cardVote5{
	font-size: 24pt;
	position: absolute;
	left: 198px;
	top: 57px;
	color: #aaaaaa;
	transform: rotate(180deg);
}

.cardVote6{
	font-size: 24pt;
	position: absolute;
	left: 57px;
	top: 172px;
	color: #aaaaaa;
	transform: rotate(90deg);
}

.cardVote7{
	font-size: 24pt;
	position: absolute;
	left: 57px;
	top: 472px;
	color: #aaaaaa;
	transform: rotate(90deg);
}

.cardVote8{
	font-size: 24pt;
	position: absolute;
	left: 59px;
	top: 717px;
	color: #aaaaaa;
	transform: rotate(90deg);
}

.playerNameInBoard{
	font-size: 21pt;
	transform: rotate(90deg);
	margin-top: 43px;
	margin-left: -20px;
}

.playerNames{
	width: 100%;
}
