<div id="playerConfig">

	<div class="availableGames">
		<span class="error singleGameName" ng-if="data.gamesId.length == 0">Cargando juegos disponibles</span>
		<span ng-if="!data.gameId" ng-repeat="game in data.gamesId track by $index" class="singleGameName">
			<a href ng-click="subscribeToChannel(game)">{{game}}</a>
		</span>
		<span ng-if="data.gameId" class="singleGameName">{{data.gameId}}</span>
	</div>


	<div class="playerInput">
		<input type="text" class="playerTextInput" ng-model="data.playerName"/>
		<div class="error" ng-if="data.missingName && data.playerName.length == 0">Debes escribir tu nombre</div>
	</div>

	<div class="colorsToPick">
		<colors-directive color-picker="data.colors" color-to-hide="data.hideColor" on-click="sendColor(thisColor)"></colors-directive>
	</div>
</div>
